@import '@/styles/index';

.navbar {
  width: 100%;
  position: sticky;
  z-index: 100;
  top: get-gap(top);

  @extend %box;

  border-radius: 4px 4px get-radius(primary) get-radius(primary);
  margin: 0 -1px;
}
