@import '@/styles/index';

.wrapper {
  display: flex;
  gap: get-gap(primary);
  color: get-color(text-light);
  transition: get-transition(fast);

  .text {
    color: get-color(text-light);
    transition: get-transition(fast);
    text-decoration: none;
    font-size: get-font-size(large);
  }

  &:hover {
    color: get-color(text-dark);

    .text {
      color: get-color(text-dark);
    }
  }
}
