@import '@/styles/variables/gaps';
@import '@/styles/variables/colors';
@import '@/styles/variables/shadows';
@import '@/styles/variables/borders';

%box {
  padding: get-gap(primary);
  border-radius: get-radius(primary);
  background-color: white;
  box-shadow: get-box-shadow(primary);
}
