@import '@/styles/variables/gaps';
@import '@/styles/variables/colors';
@import '@/styles/variables/shadows';
@import '@/styles/variables/borders';

%box {
  padding: get-gap(primary);
  border-radius: get-radius(primary);
  background-color: white;
  box-shadow: get-box-shadow(primary);
  overflow: hidden;
  backdrop-filter: blur(5px);
}

%button-padding {
  &.sm {
    padding-top: get-gap(primary);
    padding-bottom: get-gap(primary);
  }

  &.md {
    padding-top: get-gap(primary) * 1.5;
    padding-bottom: get-gap(primary) * 1.5;
  }
}

%hover-opacity {
  transition: get-transition(fast);

  &:hover {
    opacity: 0.8;
  }
}
