@import '@/styles/index';

.profile {
  @extend %box;

  display: flex;
  flex-direction: column;
  gap: get-gap(primary) * 1.5;

  .title {
    color: get-color(text-dark);
    font-size: get-font-size(xlarge);
  }
}
