@import '@/styles/index';

.aside {
  max-width: 200px;
  width: 100%;

  .content {
    position: sticky;
    top: get-gap(top);
    display: flex;
    flex-direction: column;
    gap: get-gap(primary) * 2;
  }
}
